############
# REQUIRED #
############

CTFD_URL = "https://ctfd.com"
AI_TEAM_NAME = "AI-Team"
AI_TEAM_EMAIL = "AI@gmail.com"
AI_TEAM_PASSWORD = "support@openai.com"
FLAG_FORMAT = "CTF{}"

##########
# COMMON #
##########

MODEL               = "gpt-5.1-codex-mini"
MAX_CODEX_TOKENS    = 25000 # tokens limit for AI-Team
MAX_CODEX_WORKERS   = 1     # maximum codexes running in parallel
MAX_CODEX_ATTEMPTS  = 3     # maximum retries on one task
CODEX_TIMEOUT       = 10    # max minutes for a 1 attempt
MAX_ATTACHMENT_SIZE = 10    # in MB
FLASK_PORT          = 8000

############
# ADVANCED #
############

# CODEX_COMMAND  = '["codex", "exec", "-s", "danger-full-access", "-m", MODEL, "--skip-git-repo-check"]'
# FLAG_REGEX     = "CTF\{[0-9a-f]+\}"
# TARGET_POINTS  = 10    # download tasks with N points only
# FLASK_HOST     = "127.0.0.1"
# DEBUG_FLASK    = False

# DB_PATH        = "tasks.db"
# TASKS_DIR      = "tasks"
# CODEX_DIR      = "codex"
# LOGS_DIR       = "logs"
# JSON_FILE      = LOGS_DIR / "running.json"
